body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.slide-container {
    width: 60%;
    height: 60%;
    overflow: hidden;
    border-radius: 20px;
}

.slide {
    display: flex;
    width: 400%;
    transition: transform 0.5s ease-in-out;
}

.slide img {
    width: 100%;
    border-radius: 10px;
}

button {
    position: absolute;
    background-color: black;
    border: none;
    color: white;
    padding: 20px;
    cursor: pointer;
    border-radius: 10px;
}

#prevBtn {
    left: 15%;
}

#nextBtn {
    right: 15%;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}
